<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077091709710-ms2mgkljeeb7ek692bd5otv9me497515.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077091709710-ms2mgkljeeb7ek692bd5otv9me497515</string>
	<key>API_KEY</key>
	<string>AIzaSyAjCILHcd2gM3zHZLCtSfFrnM6e-xGMIo4</string>
	<key>GCM_SENDER_ID</key>
	<string>1077091709710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jhchoi.surveasyAdmin</string>
	<key>PROJECT_ID</key>
	<string>surveasy-workspace</string>
	<key>STORAGE_BUCKET</key>
	<string>surveasy-workspace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077091709710:ios:40760b7bb2bfddf487dd5f</string>
	<key>DATABASE_URL</key>
	<string>https://surveasy-workspace-default-rtdb.firebaseio.com</string>
</dict>
</plist>